:root {
    --baseRadius: 5px;

    --txtPrimaryColor: #16161a;
    --txtHintColor:    #666f75;
    --baseColor:       #f8f9fa;
    --baseAlt1Color:   #e4e9ec;
    --baseAlt2Color:   #d7dde4;
    --baseAlt3Color:   #c6cdd7;
    --baseAlt4Color:   #a5b0c0;
    --infoColor:       #5499e8;
    --infoAltColor:    #cee2f8;
    --successColor:    #32ad84;
    --successAltColor: #c4eedc;
    --dangerColor:     #e34562;
    --dangerAltColor:  #f7cad2;
    --warningColor:    #ff944d;
    --warningAltColor: #ffd4b8;

    --thumbColor:       var(--baseAlt2Color);
    --thumbActiveColor: var(--baseAlt3Color);

    --light-color-text:                 var(--txtPrimaryColor);
    --light-color-background:           var(--baseColor);
    --light-color-background-secondary: var(--baseAlt1Color);
    --light-color-accent:               var(--baseAlt2Color);
    --light-color-active-menu-item:     var(--baseAlt1Color);
    --light-color-ts-interface:         var(--successColor);
    --light-color-ts-class:             var(--dangerColor);
    --light-color-ts-type-alias:        var(--txtHintColor);
    --light-color-ts-parameter:         var(--infoColor);
}

.tsd-navigation a, .tsd-navigation summary > span, .tsd-page-navigation a {
    padding: 0.4rem 0.5rem;
    border-radius: var(--baseRadius);
}

.tsd-signature {
    padding: 0.9rem 1rem;
    border: 0;
    border-radius: var(--baseRadius);
    background: var(--color-background-secondary);
}

.tsd-sources {
    display: none;
}

.code.tsd-tag {
    font-size: 60%;
    vertical-align: middle;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: var(--baseRadius);
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: var(--baseRadius);
}
::-webkit-scrollbar-thumb {
    background-color: var(--thumbColor);
    border-radius: 15px;
    border: 2px solid transparent;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background-color: var(--thumbActiveColor);
}
html {
    scrollbar-color: var(--thumbColor) var(--thumbActiveColor);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
html * {
    scrollbar-width: inherit;
}
